@using WordGuess.Models
@model WordGuess.Models.Word;

<div>
    <h2>Game ON!</h2>
</div>
<div class="blockquote text-center">
<hr/>
<div>
    <thead>
        
            <h2>Do you think you know words?  Let's check it out, word category is @Model.Category.</h2>
            <p>&nbsp;</p>
            <h2>You have @Model.NoOfTries tries.</h2>
            @* <th scope="col">@Model.Category.</th>
            <th scope="col">You have @Model.NoOfTries tries.</th> *@
        
    </thead>
    <tbody>
        <p>&nbsp;</p>
        
        <tr>            
            <h2>@Model.Value</h2>
        </tr>         
      
    </tbody>
    <p>&nbsp;</p>
         <tr>
            <th scope="col">@Model.Message</th>  
         </tr> 
        <p>&nbsp;</p>
</table>
<table align="center" >
    <form asp-action="Enter" align="center">
        
        <div>
            <div class="input-group-prepend">
                <input type="hidden" value = "@Model.Category" asp-for="@Model.Category">
                <input type="hidden" value = "@Model.Value" asp-for="@Model.Value">
                <input type="hidden" value = "@Model.InitialWord" asp-for="@Model.InitialWord">
                <input type="hidden" value = "@Model.NoOfTries" asp-for="@Model.NoOfTries">
            </div>
            <div class="col-6 col-md-6 offset-md-3">   
                <input type="text" class="form-control" autofocus="autofocus" maxlength="1" placeholder="Enter one letter . . . &#x23ce;" asp-for="Letter" value="" > 
                <button type="submit" class="btn btn-primary">GUESS</button>
            </div>

        </div>


    
    </form>


    
      
    
</table>
</div>
</div>